$bg_init : 'initBg.svg';
$bg_nav_color:#E5F4F5;

$primary_btn_font_color:#FFFFFF;
$dark_btn_font_color:#C5EEE6;
$light_btn_font_color:#1C6176;

$bp_mobile:320px;
$bp_tablet:768px;
$bp_desktop:1024px;

$body_font_size_mobile:16px;
$secondary_font_size_mobile:14px;


$init_h1_font_size_mobile:45px;
$h2_font_size_mobile:42px;
$init_h3_font_size_mobile:32px;
$init_label_font_size_mobile:30px;


$primary_font_init_color  : #4C90A5;
$light_font_color:#fff;
$dark_font_color:#1C6176;


$btn_bg_primary_color : #7DC0C9;
$btn_bg_dark_color:#1C6176;
$btn_bg_light_color:#C5EEE6;

$btn_stroke_color:#1C6176;

